<div id="userPost">
    <h3>Welcome back, {{username}}!</h3>
    <div class="row">
        <div class="col">
        {{#each blogs}}
            <div class="card small">
                <div class="card-content black-text">
                    <span class="card-title">{{title}}</span>
                    <p>{{content}}</p>
                </div>
                <div class="card-action" style="display: flex; justify-content:space-between">
                    <button class="btn deletePost" data-blogid={{id}}>Delete</button>                    
                </div>
            </div>
        {{/each}}
        </div>
    </div>
</div>

<a href="/newblog" class="btn" style="margin-top: 10px;">New Blog</a>

<script src="/js/dashboard.js"></script>