<h1>Log-in page</h1>
<form id="login-form">
    <input type="text" id="username" placeholder="USERNAME">
    <input type="password" id="password" placeholder="PASSWORD">
    <button class="btn">login</button>
</form>
    <br>
    <a href="/signup" class="btn">Sign UP</a>
<script src="/js/login.js"></script>